<strong>Olá, {{ organizer }}</strong>
<p>Há um novo inscrito no meetup: "{{ meetup }}", veja nos detalhes abaixo:</p>
<p>
  <strong>Usuário: </strong> {{ subscriber }} <br />
  <strong>Email: </strong> {{ subscriberEmail }} <br />
</p>
